#bookPosition {
    position:relative;

    float:left;

    margin:20px 10px;

    width:100px;
    height:150px;
}

#bookTitle {
    position:relative;
    top:-30px;

    width:100%;
    
    text-align:center;
    color:black;
}