h3, h4{
    text-align: center;
}

#profileRoot {
    display: flex;
    flex-direction: column;

    height:80%;
  
    background-color: rgb(240, 230, 211);

    border-radius: 20px;

    justify-content: center;
    align-items: center;
}

#profilePicture {
    width: 200px;
    height: 200px;
}

td {
    padding: 0 20px;
}

tr:nth-child(even) {
    background-color: rgb(212, 208, 192);
}
tr:nth-child(odd) {
    background-color: rgb(212, 207, 184);
}