#root {
  width:1280px;
  height:100vh;

  margin:0 auto;
}

#app {
  width:100%;
  height:100%;

  margin:0 auto;

  background-color: rgb(202, 160, 81);
}

#profile-column{
  float: left;

  width:30%;
  height:100%;

  background-color: rgb(90, 167, 167);
}

#shelf-column{
  float: left;
  
  width:70%;
  height:100%;

  background-color: rgb(109, 116, 86);
}

body {
    background-color: rgb(233, 206, 156);
}